/* Importación de fuentes */
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700&family=Yellowtail&display=swap");

/* Variables de colores */
:root {
  --background-gradient: linear-gradient(
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)
  );
  --background-alternate: #e6e6e6;
  --main-bg-color: #940253;
  --text-color: #fff;
  --text-color-alternate: #666;
  --primary-color: #940253;
  --Shadow-color-light: #fff;
}

/* Resetear estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Configuración global del documento */
html {
  scroll-behavior: smooth;
}
.titulo-seccion {
  font-family: "Yellowtail";
  font-size: xx-large;
  letter-spacing:2px;

}


/* idiomas*/


.translate{
  display: flex;
  margin: auto;
}
.img__nav{
  width: 15px;
  height: 15px;
}
.idioma{
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px;
opacity: 0;

}
.idioma:hover{
  background-color: rgb(228, 228, 228);
}
/* Lista de idiomas */
.idiomas {
 
  top: 35px;
  display: flex;
  flex-direction: column;
  /* visibility: hidden; */ /* Comentamos o eliminamos esta línea */
}
.idiomas li{
  width: 100%;
  list-style-type: none;
}
.idiomas li a{
  display: block;
  padding: 10px;
  font-size: 10px;
  color: rgb(85, 85, 85);
  opacity: 0.8;
}
.idiomas li a:hover{
  background-color: rgb(219, 219, 219);
}
.idiomas li img{
  border-radius: 50%;
}
/* toogle - js */
.toggle{
  visibility: visible;

}
/* Main */
.info__main{
  width: 50%;
  margin-inline: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.info__img img{
  width: 200px;
  height: 200px;
}
.info__div div{
  width: 30%;
  height: 4px;
  background-color: blue;
}

/* Sección de Inicio */
.inicio {
  background: var(--background-gradient), url("../img/fondo.jpg");
  background-size: cover;
  background-position: center center;
  color: var(--text-color);
}

.inicio .contenido-seccion {
  max-width: 1000px;
  margin: auto;
  text-align: center;
  padding: 0 10px;
}

.inicio .contenido-seccion header {
  padding: 30px;
}
/*Menu lateral contenedor*/
.inicio .contenido-seccion header .menu-lateral {
  position: fixed;
  top: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: row-reverse;
  gap: 1em;
  max-width: calc(100% - 20px);
}
@media (min-width: 1000px) {
  .inicio .contenido-seccion header .menu-lateral {
    top: calc(1em + 4vw); /* Cambiar la posición superior */
    right: calc(1em + 12vw); /* Cambiar la posición derecha */
  }
}

/* Menú lateral */
.inicio .contenido-seccion header nav {
  margin-left: 0px;
  background-color: var(--main-bg-color);
  padding: 15px;
  border-radius: 10px;
  text-align: left;
  box-shadow: 1px 3px 5px 0px var(--Shadow-color-light);
  display:none;
 
}


.inicio .contenido-seccion header input[type="checkbox"] {
  display: none;
}

.inicio .contenido-seccion header nav a {
  display: block;
  color: var(--text-color);
  text-decoration: none;
  margin-bottom: 10px;
  font-weight: bold;
}
/* Barra de navegación */
.inicio .contenido-seccion header .nav-bar {
  height: 50px;
  background-color: var(--main-bg-color);
  font-size: 20px;
  border-radius: 50%;

  cursor: pointer;
  padding: 1rem;
}


.inicio .contenido-seccion header .nav-bar:hover {
  box-shadow: 0 0 35px var(--Shadow-color-light);
}

/* Mostrar/ocultar el menú cuando el checkbox está marcado */
#menu:checked ~ #nav {  /* Se cambia el selector */
  display: block;
}

/* Estilos del logo */
.inicio .contenido-seccion header .logo {
  font-weight: bold;
  font-size: 2.5rem;
  font-family: "Yellowtail";
  text-shadow: 0 0 35px var(--Shadow-color-light);
}

.inicio .contenido-seccion header .logo .color {
  color: var(--primary-color);
  font-family: "Yellowtail";
}






/* Sección de información */
.inicio .contenido-seccion .info {
  padding-bottom: 130px;
}

.inicio .contenido-seccion .info h1 {
  font-size: xxx-large;
  letter-spacing: 5px;
}

.inicio .contenido-seccion .info h2 {
  font-weight: normal;
  font-size: x-large;
  margin-top: 10px;
  letter-spacing: 2px;
}

.inicio .contenido-seccion .info .redes {
  margin: 20px 0;
}

.inicio .contenido-seccion .info .redes a {
  display: inline-block;
  text-decoration: none;
  background-color: #000;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 10%;
  width: 80px;
  line-height: 40px;
  margin: 0 10px;
  transition: 2s;
}

.inicio .contenido-seccion .info .redes a:hover {
  color: var(--text-color);
  background-color: var(--primary-color);
  box-shadow: 0 0 20px var(--Shadow-color-light);
}

/* Sección de la foto */
.inicio .contenido-seccion .foto {
  position: relative;
}

.inicio .contenido-seccion .foto img {
  max-width: 200px;
  border-radius: 50%;
  border: 5px solid var(--primary-color);
  position: absolute;
  left: 50%;
  top: -100px;
  transform: translateX(-50%);
}

/* section about */
.sobremi {
  background-color: var(--background-alternate);
  padding: 140px 0 100px 0;
  text-align: center;
}
.sobremi .contenido-seccion {
  max-width: 1000px;
  margin: auto;
  padding: 0 10px;
}
.sobremi .contenido-seccion h3 {
  text-transform: uppercase;
  font-size: xx-large;
}

.sobremi .contenido-seccion .especial {
  color: var(--primary-color);
  font-weight: bold;
  font-size:large;
 padding: 15px 0 10px 0;
}
.sobremi .contenido-seccion p {
  max-width: 700px;
  margin: auto;
  color: #666;
}
.sobremi .contenido-seccion .fila {
  display: flex;
  margin-top: 30px;
}
.sobremi .contenido-seccion .fila .col {
  width: 30%;
}
.sobremi .contenido-seccion .fila .col i {
  color: var(--primary-color);
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 2px solid var(--primary-color);
  line-height: 40px;
  border-radius: 50%;
}
.sobremi .contenido-seccion .fila .col span {
  display: block;
  font-weight: bold;
  margin: 8px;
}



  /* habilidades */

  .habilidades {

    padding: 80px 0 100px 0;
    text-align: center;
    background: var(--background-gradient), url("img/habilidades.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    color: var(--text-color);
  }
  .habilidades .contenido-seccion {
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
  }

  .habilidades .contenido-seccion h3{
    text-transform: capitalize;
    font-size: xx-large;
  }

  .habilidades .contenido-seccion .fila {
    display: flex; /* Establece flexbox para acomodar elementos en fila */
  flex-wrap: wrap; /* Permite que los elementos salten a la siguiente línea si no caben en la actual */
  justify-content: space-between; /* Distribuye los elementos con espacio uniforme entre ellos */
  margin: 0 auto; /* Centra la fila horizontalmente */
  width: 80%; /
  }

.habilidades .contenido-seccion .fila .col {
  flex: 1 0 auto; /* Define la base del ancho de cada columna */
  padding: 10px; /* Agrega espacio interior a las columnas */
  text-align: center; 
}

@media (max-width: 768px) {
  .habilidades .contenido-seccion .fila  {
    width: 100%; /* En pantallas pequeñas, la fila ocupa todo el ancho */
  }

  .habilidades .contenido-seccion .fila .col {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin: 0 1em 0 1em /* En pantallas pequeñas, cada columna ocupa el ancho completo */
  }
}

.habilidades .contenido-seccion .fila .col .cont-barra {
    display: flex;
    align-items: center;
}
.habilidades .contenido-seccion .barra {
display: flex;
border: 1px solid var(--main-bg-color);
padding: 2px;
border-radius: 3px;
margin-right: 10px;
}

.habilidades .contenido-seccion .barra .e {
    background-color: #363636;
    width: 20px;
    height: 30px;
    margin-right: 2px;
}

/* SECCION RESUMEN */
.resumen{
    background-color:var(--background-alternate);
    padding: 140px 0 100px 0;
    text-align: center;
}
.resumen .contenido-seccion{
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}
.resumen .contenido-seccion h3{
    text-transform: uppercase;
    font-size: 30px;
}
.resumen .contenido-seccion .info{
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}
.resumen .contenido-seccion .info .col{
    width: 45%;
    flex: 0 0 45%;
    padding: 10px;
}
@media (max-width: 768px) {
  .resumen .contenido-seccion .info {
    flex-direction: column;
  }

  .resumen .contenido-seccion .info .col {
    width: 100%; 
  }
}
.resumen .contenido-seccion .info .col .titulo{
    display: inline-block;
    color: var(--primary-color);
    font-weight: bold;
    border: 2px solid var(--primary-color);
    padding: 10px;

}
.resumen .contenido-seccion .info .col table{
    margin-top: 30px;
    border-collapse: collapse;
}
.resumen .contenido-seccion .info .col table .datos{
    width: 40%;
    border-bottom: 1px solid #bab9b9;
}
.resumen .contenido-seccion .info .col table h4{
    margin-top: 10px;
}
.resumen .contenido-seccion .info .col table h3{
    font-size: 20px;
    margin-bottom: 5px;
}
.resumen .contenido-seccion .info .col table p{
    font-size: 14px;
}
.resumen .contenido-seccion .info .col table .promedio{
    display: block;
    color:var(--primary-color);
    margin-top: 10px;
    font-weight: bold;
}
.resumen .contenido-seccion .info .col table .descripcion{
    border-left: 1px solid #bab9b9;
    padding-left: 20px;
}

.contacto {
  background-color: #202020;
  padding: 140px 0 100px 0;
  color: var(--text-color);
  text-align: center;
}
.contacto .contenido-seccion {
  max-width: 1000px;
  margin: auto;
  padding: 0 10px;
}
.contacto .contenido-seccion  h3{
  text-transform: uppercase;
  font-size: xx-large;
}
.contacto .contenido-seccion .fila {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px; /* Adjust gap for spacing between columns */
}
.contacto .contenido-seccion .fila .col {
  margin-top:0px ;
}
.contacto .contenido-seccion .fila .col h2 {
  color: var(--main-bg-color);
}