.sobremi {
  background-color: var(--background-alternate);
  padding: 140px 0 100px 0;
  text-align: center;
}
.sobremi .contenido-seccion {
  max-width: 1000px;
  margin: auto;
  padding: 0 10px;
}
.sobremi .contenido-seccion h3 {
  text-transform: uppercase;
  font-size: xx-large;
}

.sobremi .contenido-seccion .especial {
  color: var(--primary-color);
  font-weight: bold;
  margin-top: 15px;
}
.sobremi .contenido-seccion p {
  max-width: 700px;
  margin: auto;
  color: #666;
}
.sobremi .contenido-seccion .fila {
  display: flex;
  margin-top: 30px;
}
.sobremi .contenido-seccion .fila .col {
  width: 30%;
}
.sobremi .contenido-seccion .fila .col i {
  color: var(--primary-color);
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 2px solid var(--primary-color);
  line-height: 40px;
  border-radius: 50%;
}
.sobremi .contenido-seccion .fila .col span {
  display: block;
  font-weight: bold;
  margin: 8px;
}
